# Python and Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints
venv/

# DVC
*.dvc
!.dvc/
!.dvcignore
!.dvc/config


# Ignore raw and processed data
data/*
data/processed/*

# OS and Jupyter
.DS_Store
.ipynb_checkpoints
