__pycache__/
*.py[cod]
*.ipynb_checkpoints
venv/

# DVC
*.dvc
!.dvcignore
!.dvc/config
!.dvc/

# If this line exists, keep it
.dvc/

# Add this exception right after
!.dvc/
# Data
data/raw/*
data/processed/*

# OS
.DS_Store

# Jupyter Notebook Checkpoints
.ipynb_checkpoints
data/*